/*===Login form and Register form===*/
.authentication-center {
  display: block;
  width: 300px;
  margin: 50px auto;
}

.authentication-title {
  text-align: center;
}
/*==================================*/
