<% layout('../layout/mainLayout.ejs') -%>

<div id="main-content">
  <h1>Home page</h1>
  <input type="button" id="start-battle" value="Start battle">
  <input type="button" id="stop-battle" value="Stop battle">
</div>

<script type="text/javascript"  src="/js/main/homePage.js"></script>
