<footer class="footer">
  <div class="social-links">
    <a href="https://www.facebook.com/pavlo.denys.3" target="_blank" class="fa fa-facebook"></a>
    <a href="#" target="_blank" class="fa fa-twitter"></a>
    <a href="#" target="_blank" class="fa fa-google"></a>
  </div>
  <div class="footer-div-ul">
    <ul>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui saepe, asperiores fuga sed reiciendis suscipit fugit sapiente quis numquam atque laudantium a unde veritatis, ab dolorum iste ut quae dolores.
      </li>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad perferendis in numquam odio quae ea aut. Excepturi perspiciatis corrupti quaerat. Voluptates fugiat alias quae commodi earum. Voluptas, temporibus! Consectetur, iusto.
      </li>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita tempora earum, labore vero consequuntur maiores dolorum doloremque? Necessitatibus nulla, molestias, laborum quas facilis debitis ipsum laboriosam quam animi. Maiores, incidunt!
      </li>
    </ul>
  </div>
  <p>&copy; flg company. All rights reserved</p>
</footer>

<script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript"  src="/js/bootstrap.js"></script>
<script type="text/javascript"  src="/js/main.js"></script>
