<div class="messages">
  <% if (errors) { %>
    <% errors.forEach(function(error) { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <% }); %>
  <% } %>

  <% if (successes) { %>
    <% successes.forEach(function(success) { %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
    <% }); %>
  <% } %>

  <% if (infos) { %>
    <% infos.forEach(function(info) { %>
      <div class="alert alert-info" role="alert">
        <%= info %>
      </div>
    <% }); %>
  <% } %>

  <% if (warnings) { %>
    <% warnings.forEach(function(warning) { %>
      <div class="alert alert-warning" role="alert">
        <%= warning %>
      </div>
    <% }); %>
  <% } %>
</div>