<div class="messages">
  <% if (messages.error !== undefined) { %>
    <div class="alert alert-danger" role="alert">
      <%= messages.error %>
    </div>
  <% } %>

  <% if (messages.success !== undefined) { %>
    <div class="alert alert-success" role="alert">
      <%= messages.success %>
    </div>
  <% } %>
</div>