<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../parts/head.ejs %>

  <link rel="stylesheet" href="/css/authentication.css">
</head>
<body>

  <% include ../parts/message.ejs %>

  <div class="authentication-center">
    <%- body %>
  </div>
  

  <% include ../parts/footer.ejs %>
</body>
</html>
